server:
  port: 8083

spring:
  application:
    name: auth-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: ${JWT_SECRET:DigitalMoneyHouseSecretKeyForJWTTokenGeneration2024SecureAndLong}
  expiration-ms: 86400000
