server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
        - id: users-service
          uri: lb://users-service
          predicates:
            - Path=/users/**
        - id: user-logout
          uri: lb://auth-service
          predicates:
            - Path=/user/logout
        - id: account-service
          uri: lb://account-service
          predicates:
            - Path=/accounts/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
